
{% extends 'base.html' %}
{% block content %}

<h2>{% if form.instance.pk %}Update Expense{% else %}Add Expense{% endif %}</h2>

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.amount.label_tag }}
        {{ form.amount }}
    </div>
    <div class="mb-3">
        {{ form.category.label_tag }}
        {{ form.category }}
    </div>
    <div class="mb-3">
        {{ form.date.label_tag }}
        {{ form.date }}
    </div>
    <button type="submit" class="btn btn-success">
        {% if form.instance.pk %}Update{% else %}Add{% endif %}
    </button>
</form>

{% endblock %}
